[Desktop Entry]
Version=1.0
Type=Application

Name=hello-again
Comment=a little app created by following elementary's tutorial
Categories=Utility;GTK;

Icon=hello-again
Exec=hello-again
Terminal=false